@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 5rem;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  @apply select-none;
  @apply text-white;
}

.text-filling-animation {
  position: relative;
  color: transparent;
  background-clip: text;
  background-size: 200% 100%;

  /* can change */
  width: 100%;
  background-image: linear-gradient(
    to right,
    var(--gray-75) 50%,
    var(--orange-300) 50%
  );
  transition: 0.3s;
}

.text-filling-animation:hover {
  background-position: -100% 0;
}

.text-filling-animation::before {
  position: absolute;
  content: '';
  top: 100%;
  z-index: -1;
  width: 100%;
  background-size: 200% 100%;

  /* can change */
  background-image: linear-gradient(
    to right,
    var(--gray-75) 50%,
    var(--orange-200) 50%
  );
  height: 1px;
  transition: 0.4s;
}

.text-filling-animation:hover::before {
  background-position: -100% 0;
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  clip-path: none;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

.mask-effect::before {
  -webkit-mask:
    linear-gradient(#fff 0 0) content-box,
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --linear-white: linear-gradient(
      112.54deg,
      rgba(255, 255, 255, 0.1) 10.29%,
      rgba(0, 0, 0, 0.1) 100.35%
    );

    --linear-gray: linear-gradient(
      112.54deg,
      rgba(255, 255, 255, 0.2) 6.21%,
      rgba(113, 113, 113, 0.2) 43.78%,
      rgba(255, 255, 255, 0.2) 77.1%
    );

    --linear-soft-gray: linear-gradient(
      112.54deg,
      rgba(255, 255, 255, 0.05) 6.21%,
      rgba(113, 113, 113, 0.05) 43.78%,
      rgba(255, 255, 255, 0.05) 77.1%
    );

    --linear-black-orange: linear-gradient(
      112.54deg,
      rgba(14, 7, 21, 0.2) 10.29%,
      rgba(246, 135, 30, 0.2) 100.35%
    );

    --linear-orange-gray: linear-gradient(
      129.31deg,
      rgba(246, 135, 30, 0.2) 9.16%,
      rgba(153, 153, 153, 0) 94.08%
    );

    --linear-orange-black: linear-gradient(
      112.54deg,
      rgba(246, 135, 30, 0.4) 10.29%,
      rgba(0, 0, 0, 1) 100.35%
    );

    --linear-gray-orange: linear-gradient(
      112.54deg,
      rgba(255, 255, 255, 0.2) 10.29%,
      rgba(19, 15, 11, 0.2) 100.35%
    );
    --linear-black-orange-hori: linear-gradient(
      180deg,
      rgba(14, 7, 21, 0.2) 10.29%,
      rgba(246, 135, 30, 0.2) 100.35%
    );

    --linear-black-orange-hori: linear-gradient(
      180deg,
      rgba(14, 7, 21, 0.2) 10.29%,
      rgba(246, 135, 30, 0.2) 100.35%
    );

    --radial-orange-black: radial-gradient(
      50% 50% at 50% 50%,
      rgba(246, 135, 30, 1) 40.5%,
      rgba(0, 0, 0, 0) 100%
    );

    --linear-orange-red: linear-gradient(
      90deg,
      rgba(237, 140, 56, 1) 0%,
      rgba(255, 132, 0, 1) 100%
    );

    --linear-orange-black-vertical: linear-gradient(
      180deg,
      rgba(246, 135, 30, 1) 0%,
      rgba(0, 0, 0, 0) 34.55%
    );

    --brown-500: #50341b;

    --orange-75: #fbcea3;
    --orange-100: #fab97d;
    --orange-200: #f89b44;
    --orange-300: #f6871e;
    --orange-400: #ac5f15;
    --orange-500: #965212;
    --orange-flare: #ffa996;

    --gray-75: #d3d3d3;
    --gray-100: #c1c1c1;
    --gray-200: #a6a6a6;
    --gray-300: #949494;
    --gray-400: #6b6b6b;
    --gray-500: #5a5a5a;

    --error-75: #f7a9a9;
    --error-100: #f38686;
    --error-200: #ee5252;
    --error-300: #eb2e2e;
    --error-400: #a52020;
    --error-500: #8f1c1c;
    --warning-75: #fdecb4;
    --warning-100: #fce494;
    --warning-200: #fbd866;
    --warning-300: #fad047;
    --warning-400: #af9232;
    --warning-500: #997f2b;
    --success-75: #98e7ba;
    --success-100: #6ddd9e;
    --success-200: #2ecf74;
    --success-300: #03c557;
    --success-400: #028a3d;
    --success-500: #027835;

    --white: #fff;
    --black: #000;

    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    --primary: 0 0% 9%;
    --primary-foreground: 0 0% 98%;
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 89.8%;
    --input: 0 0% 89.8%;
    --ring: 0 0% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 0 0% 14.9%;
    --input: 0 0% 14.9%;
    --ring: 0 0% 83.1%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
  }
}

.fill-text {
  display: grid;
  justify-content: start;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  word-break: keep-all;
  width: 0;
  color: red;
  transition: 0.5s width ease-in-out;
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}
