name: CICD Production

on:
  push:
    branches:
      - main

env:
  NOCODB_API_TOKEN: ${{ secrets.NOCODB_API_TOKEN }}
  NOCODB_API_URL: ${{ secrets.NOCODB_API_URL }}
  NOCODB_COMPANY_DB: ${{ secrets.NOCODB_COMPANY_DB }}
  NOCODB_SEMINAR_DB: ${{ secrets.NOCODB_SEMINAR_DB }}

jobs:
  build:
    name: build
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v5

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Login to GitHub Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.repository_owner }}
          password: ${{ secrets.GTK_STG }}

      - name: Build and Push Docker Image
        uses: docker/build-push-action@v6
        with:
          push: true
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha,mode=max
          tags: ghcr.io/ce-smart-career/${{ github.event.repository.name }}-prd:latest
          secrets: |
            NOCODB_API_TOKEN=${{ secrets.NOCODB_API_TOKEN }}
            NOCODB_API_URL=${{ secrets.NOCODB_API_URL }}
            NOCODB_COMPANY_DB=${{ secrets.NOCODB_COMPANY_DB }}
            NOCODB_SEMINAR_DB=${{ secrets.NOCODB_SEMINAR_DB }}

  deploy:
    name: Deploy
    needs: build
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Deploy to our k8s
        run: |
          microk8s kubectl apply -f deploy/deployment.yml
          microk8s kubectl rollout restart deployment/ce-smart-career-frontend-prd -n ce-smart-career
          microk8s kubectl apply -f deploy/service.yml
          microk8s kubectl apply -f deploy/ingress.yml
